<!DOCTYPE html>
<html>
<head>
  <title>Spaaaccccce</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= image_tag "core.png", id: "core", alt: "Animated space core from the game portal" %>
<%= yield %>

</body>
</html>
