<!DOCTYPE html>
<html>
<head>
  <title>Spaaaccccce</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= image_tag "core.png", id: "core", alt: "Animated space core from the game portal" %>
<%= yield %>
<%= audio_tag "/audios/space.mp3", id: "audio" %>

</body>
</html>
